[Unit] 
Description=My Python Program Service 
After=network.target bluetooth.service 
Requires=bluetooth.service

[Service] 
ExecStart=/usr/bin/python3 /home/pi/your_script.py 
WorkingDirectory=/home/pi 
StandardOutput=inherit 
StandardError=inherit 
Restart=always 
User=pi

[Install] 
WantedBy=multi-user.target